<div ...attributes>
  <div>
    {{yield}}
  </div>

  <div class="flex flex-row p-2 bg-blue-500 text-white items-center justify-between">
    {{yield to="activity"}}
    <LinkTo
      @route="activity"
      @model={{@id}}
      class="bg-brand text-black px-4 py-2 rounded-sm hover:opacity-75"
    >
      Details
    </LinkTo>
  </div>
</div>